---
import Section from "../Section.astro";
import { softSkills } from "@cv";
---

<Section title="Habilidades Blandas">
  <ul>
    {
      softSkills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>
<style>
  ul {
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  li {
    color: #f197a3;
    border: 1px solid #f197a3;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 6px;
  }
</style>
